#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.Characters {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-gap: 1rem;
}

.Characters .Character-item {
  border: 1px solid #ccc;
  padding: 1rem;
  border-radius: 4px;
}

.Characters .Character-item img {
  width: 100%;
}
